.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #300A48;
}

.title {
    padding-top: 10px;
    margin-bottom: auto;
    font-size: 50px;
    color: #300a24;
    width: 100%;
    border-bottom: 2px solid #000;
    text-align: center;
    padding-bottom: 10px;
    background: brown;
}

.buttons {
    width: 100vw;
    display: flex;
    flex-shrink: 1;
    gap: 10px;
    justify-content: center;
}

.button {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #000;
    font-size: 25px;
    text-align: center;
}

.button:hover {
    text-shadow: 0 0 2px #fff;
    transform: scale(1.1);
}

.button:active {
    text-shadow: 0 0 2px #000;
    transform: scale(0.9);
}

.rock {
    background: #5a4d41;
    color: #A5B2F5;
}

.paper {
    background: #e0c9a6;
    color: #1F3680;
}

.scissors {
    background: #ddd;
    color: #660;
}

.result {
    width: 100vw;
    height: 78.25vh;
    background-image: url("background.jpg");
    background-repeat: round;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding-top: 30px;
}

.user {
    padding-right: auto;
    margin-left: 20px;
}

.computer {
    padding-left: auto;
    margin-right: 20px;
}

.border {
    height: 30px;
    background: #345FB0;
    border-radius: 5px;
}

@media only screen and (max-width: 840px) {
    .border {
        height: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .result {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }

    .user .computer {
        padding: 0;
        margin: 0;
    }

    .border {
        height: 30px;
    }
}
